.slick-dots li button::before {
  color: #febad7;
  width: 16px !important;
  height: 4px !important;
  width: 16px;
  height: 4px;
  content: "";
  background: #fb2e86;
  opacity: 0.25;
  border-radius: 3px;
  transition: all linear 0.2s;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
  width: 25px;
  border-radius: 5px;
}

.slick-center {
  overflow: hidden;
  scale: 1.1;
}
